{% extends 'base.html' %}

{% block content %}

<div class="container-fluid text-white rounded">
    <h5 class="p-2">Sesi terakhir login: {{ last_login }}</h5>

    <div class="text-center">
        <h4 id="product_count"></h4>
        <button type="button" class="btn text-white" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: #0065a9;">Add Product by AJAX</button>
    </div>

    <div id="product_cards">

    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded shadow border border-dark" style="background-color:#1e1e1e">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="name"></input>
                        </div>
                        <div class="mb-3">
                            <label for="amount" class="col-form-label">Amount:</label>
                            <input type="number" class="form-control" id="amount" name="amount"></input>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="col-form-label">Price:</label>
                            <input type="number" class="form-control" id="price" name="price"></input>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary shadow rounded" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn text-white shadow rounded" id="button_add_product" data-bs-dismiss="modal" style="background-color: #0065a9;">Add Product</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    async function getProducts() {
        return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
    }

    async function refreshProducts() {
    
        const products = await getProducts()
        let htmlString = '<div class="p-2 row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5">'
        products.forEach((product) => { 

            htmlString += 
                `\n\t<div class="p-3 card-row col mb-4">`

            if (product == products[products.length - 1]){
                htmlString += 
                `\n\t<div class="p-2 card mb-3 bg-gradient text-white shadow rounded" style="background-color:#333333;">`
            } else {
                htmlString += 
                `\n\t<div class="p-2 card mb-3 bg-gradient text-white shadow rounded" style="background-color:#252525;">`
            }

            htmlString += 
                        `<div class="card-header">
                            <img src="https://cdn-icons-png.flaticon.com/512/5164/5164023.png" loading="lazy" width="250" height="250" alt="" class="card-img-top">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">${product.fields.name}</h5>
                            <h6 class="card-subtitle mb-2">Amount: ${product.fields.amount}</h6>
                            <h6 class="card-subtitle mb-2">Price: ${product.fields.price}</h6>
                            <p class="card-text text">${product.fields.description}</p>
                            <div class="text-center">
                                <button type="button" class="btn border-dark shadow rounded px-1 text-white" onclick=addAmount(${product.pk}) style="background-color: #0065a9;">Add</button>
                                <button type="button" class="btn border-dark shadow rounded px-1 text-white" onclick=subtractAmount(${product.pk}) style="background-color: #0065a9;">Subtract</button>
                                <button type="button" class="btn btn-danger border-dark shadow rounded px-1" onclick=deleteProduct(${product.pk})>Delete</button>
                            </div>
                        </div>
                    </div>
                </div>`
        })
        htmlString += '\n</div>'
        
        document.getElementById("product_cards").innerHTML = htmlString
        document.getElementById("product_count").innerHTML = "You have " + products.length + " products saved in this inventory"
    }

    refreshProducts()

    function addProduct() {
        fetch("{% url 'main:add_product_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshProducts)

        document.getElementById("form").reset()
        return false
    }

    document.getElementById("button_add_product").onclick = addProduct

    function addAmount(id) {
        fetch("add-amount-ajax/" + id).then(refreshProducts)
    }

    function subtractAmount(id) {
        fetch("subtract-amount-ajax/" + id).then(refreshProducts)
    }

    function deleteProduct(id) {
        fetch("delete-product-ajax/" + id).then(refreshProducts)
    }

</script>
{% endblock content %}