{% extends 'base.html' %}

{% block content %}
    <h1>Stocko</h1>

    <h5>Name:</h5>
    <p>{{nama}}</p>

    <h5>Kelas:</h5>
    <p>{{kelas}}</p>
    <table>
        <tr>
            <th colspan="7">Anda menyimpan {{products.count}} produk pada aplikasi ini</th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
    
        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    
        {% for product in products %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.amount}}</td>
                <td>{{product.price}}</td>
                <td>{{product.description}}</td>
                <td>
                    <a href="{% url 'main:add_amount' id=product.id %}">
                        <button>
                            Add
                        </button>
                    </a>
                </td>
                <td>
                    <a href="{% url 'main:subtract_amount' id=product.id %}">
                        <button>
                            Subtract
                        </button>
                    </a>
                </td>
                <td>
                    <a href="{% url 'main:delete_product' id=product.id %}">
                        <button>
                            Delete
                        </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    
    <br />

    <h5>Sesi terakhir login: {{ last_login }}</h5>
    
    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>

    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>
{% endblock content %}