{% extends 'base.html' %}

{% block meta %}
    <title>Register</title>
{% endblock meta %}

{% block content %}  

<div class="container-fluid p-2 h-100 d-flex flex-column justify-content-center bg-dark text-white">

    <div class = "login p-2 d-flex flex-column align-items-center">
        
        <h1>Register</h1>  

            <form method="POST" >  
                {% csrf_token %}    
                <div class="form-group">
                    <label for="id_username">Username*</label>
                    <input type="text" name="username" class="form-control" maxlength="150" autocapitalize="none" autocomplete="username" autofocus required id="id_username">
                    Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
                </div>
                <br>
                <div class="form-group">
                    <label for="id_password1">Password*</label>
                    <input type="password" name="password1" class="form-control" autocomplete="new-password" required id="id_password1">
                    <ul>
                        <li>Your password can’t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li>
                        <li>Your password can’t be entirely numeric.</li>
                    </ul>
                </div>
                <br>
                <div class="form-group">
                    <label for="id_password2">Password Confirmation*</label>
                    <input type="password" name="password2" class="form-control" autocomplete="new-password" required id="id_password2">
                    Enter the same password as before, for verification.
                </div>
                <br>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div> 
            </form>

            <br>
            Already have an account? <a href="{% url 'main:login' %}">Login</a>

    </div>  

    {% if messages %}  
            <ul>   
                {% for message in messages %}  
                    <li>{{ message }}</li>  
                {% endfor %}  
            </ul>   
        {% endif %}

</div>

{% endblock content %}